@import "general.css";

/* styles.css */
body {

}

.contour_project {
    display: flex;
    justify-content: center;
    padding: 25px;
    border-radius: 25px;
    /*margin-bottom: 20px;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 3px;
}

.flex-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
}


#title1{
    color: lightcyan;
    font-family: "Lato", sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 300;
    font-size: 72px;
}

p{
   color: #edf5fc;
}

.send {
  background-color: #272D2D;
  border: none;
  color: #edf5fc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius: 8px;
}

.marque{
    background-color: #272D2D;
  border: none;
  color: #edf5fc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
    border-radius: 8px;
}
.project {
    border-radius: 25px;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.project h2 {
    color: #edf5fc;
    margin-top: 0;

}

.description {
    color: #666;

}

.deadline {
    color: #999;
    font-size: 0.9em;
    margin-top: 10px;

}

.centered-element{
    justify-content: center;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;


    background-color: #272D2D;

}

#logout_b {
  background-color: #272D2D;
  border: none;
  color: #edf5fc;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#titre_modif{
    color: #272D2D;
    display: flex;
justify-content: center;

}

#user_text{
    color: #edf5fc;
}

#edit-project-btn{
    color: #272D2D;
    background-color: #edf5fc;
    border-radius: 8px;

}

#del_b{
    background-color: darkred;
    border-radius: 8px;
}

#logout_b1{
    background-color: #edf5fc;
  border: none;
  color: #272D2D;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}