@import "general.css";

html, body {
    height: 100%;
}


.main {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(100deg, rgba(0,0,0,1) 0%, rgba(10,6,56,1) 100%);
}


#carte-bienvenue {
    display:flex;
    width: 1000px;
    height: 600px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    border-width: 1px;
    background: rgb(49,42,138);
    background: -webkit-linear-gradient(-20deg, #0A0638 0%, #083046 100%);
    filter: drop-shadow(0 0 10px black);
}

#bienvenue-gauche {
    display: flex;
    flex: 0 0 500px;
    flex-direction: column;
    margin: 50px;
}

#bienvenue-droite {
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-button {
    height: 100px;
    width: 300px;
    color:white;
    border-radius:50px;
    border-width: 1px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 48px;
    background: #0A0638;
    transition: background 2s;
}

.login-button:hover{
    background: #083046;
}

.register-text {
    font-size: 24px;
    color: #578FAF;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.register-button {
    background: none;
    border: none;
    width: 300px;
    font-size: 24px;
    color: #578FAF;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

