<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Projects</title>
</head>
<body>
<h1>MES PROJETS</h1>

<div>
    <h2>Add a project</h2>
    <form action= "{{ url_for("fonction_formulaire_create_project") }}" method="post">
        <!-- Add your form fields here -->
        <label for="label">Label:</label>
        <input type="text" id="label" name="label"><br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br><br>
        <label for="deadline_date">Deadline Date:</label>
        <input type="date" id="deadline_date" name="deadline_date"><br><br>
        <label for="deadline_time">Deadline Time:</label>
        <input type="time" id="deadline_time" name="deadline_time"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
{% if errors %}
    Errors:
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
