<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        <h1>LOGIN</h1>
        <p>bruah</p>
        <form action="{{ url_for("login_function") }}" method="post">
            <p><input type="text" name="login" placeholder="Votre identifiant"></p>
            <p><input type="text" name="password" placeholder="Votre mot de passe"></p>
        <button>
            Log In
        </button>
        </form>

    </body>
</html>
