<html>
    <head>
        <title>MES PROJETS</title>
    </head>
    <body>
        <h1>MES PROJETS</h1>
        <p>omg tema la taille des projets</p>
        <p> voici un projet en 4K </p>
        <form action="{{ url_for("logout_function") }}" method="get">
            <p><input type="submit" value="Log out"></p>
        </form>
    </body>
</html>
