<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <p>bruah</p>
        <form action="{{ url_for("register_function") }}" method="post">
            <p><input type="text" name="username" placeholder="Votre identifiant" required></p>
            <p><input type="password" name="password" placeholder="Votre mot de passe" required></p>
            <p><input type="password" name="password_confirm" placeholder="Confirmez votre mot de passe" required></p>
            <p><input type="submit" name="Register"></p>
        </form>

    </body>
</html>