<html>
    <head>
        <title>Bienvenue sur IMTrello</title>
    </head>
    <body>
        <h1>Bienvenue sur IMTrello !</h1>
        <p>lezgoooo</p>
        <form action="{{ url_for("display_login_page") }}" method="get">
            <button>
            Log In
            </button>
        </form>

        <button>
            Register
        </button>

    </body>
</html>
